/*#525252*/
#product-single .page-breadcrumb .woocommerce-breadcrumb {
  margin-bottom: 30px;
}

#product-single-main .product-main-info {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #product-single-main .product-main-info .pos-relative {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  #product-single-main .product-main-info .pos-sticky {
    position: sticky;
    top: 0;
    height: fit-content;
  }
}
#product-single-main .product-main-info > .row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -16px;
  margin-right: -16px;
}
@media only screen and (min-width: 1400px) {
  #product-single-main .product-main-info > .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
#product-single-main .product-main-info > .row [class*=col-] {
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 1400px) {
  #product-single-main .product-main-info > .row [class*=col-] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#product-single-main .product-main-info .product-brand {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fff;
  padding: 5px;
}
#product-single-main .product-main-info .product-brand img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
#product-single-main .product-main-info .product-slider {
  position: relative;
  max-width: 600px;
}
#product-single-main .product-main-info .product-slider .new-product-ribbon {
  color: #303030;
}
#product-single-main .product-main-info .product-slider .slider-for {
  background-color: #fff;
  aspect-ratio: 1/1;
  margin-bottom: 12px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
#product-single-main .product-main-info .product-slider .slider-for div {
  height: 100%;
  display: flex !important;
  align-items: center;
}
#product-single-main .product-main-info .product-slider .slider-for .slick-slide {
  justify-content: center;
}
#product-single-main .product-main-info .product-slider .slider-for img {
  width: 100%;
  max-height: 100%;
}
#product-single-main .product-main-info .product-slider .slider-for .slick-slide a {
  height: 100%;
  display: flex !important;
  align-items: center;
}
#product-single-main .product-main-info .product-slider .slider-for a:hover {
  cursor: zoom-in;
}
#product-single-main .product-main-info .product-slider .slider-nav .slick-slide {
  margin: 0 4px;
}
#product-single-main .product-main-info .product-slider .slider-nav .slick-slide a {
  height: 100%;
}
#product-single-main .product-main-info .product-slider .slider-nav .slick-list {
  margin: 0 -4px;
}
#product-single-main .product-main-info .product-slider .slider-nav .thumb {
  position: relative;
  aspect-ratio: 1/1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
#product-single-main .product-main-info .product-slider .slider-nav .thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
#product-single-main .product-main-info .product-slider .slider-nav .thumb:hover {
  cursor: pointer;
}
#product-single-main .product-main-info .product-slider .slider-nav .slick-current .thumb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
#product-single-main .product-main-info .product-slider .slick-prev {
  left: 20px;
}
#product-single-main .product-main-info .product-slider .slick-next {
  right: 20px;
}
#product-single-main .product-main-info .product-slider .slick-prev, #product-single-main .product-main-info .product-slider .slick-next {
  background-color: #025788;
  color: #ffffff;
}
#product-single-main .product-main-info .product-slider img {
  /*object-fit: cover;
  aspect-ratio: 1/1;*/
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#product-single-main .product-main-info .product-summary {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  position: relative;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary {
    margin-top: 24px;
  }
}
#product-single-main .product-main-info .product-summary span.product-sku {
  display: block;
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0.01em;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary span.product-sku {
    font-size: 14px;
  }
}
#product-single-main .product-main-info .product-summary span.product-sku {
  color: #000;
  margin-bottom: 8px;
}
#product-single-main .product-main-info .product-summary .tag + .tag {
  margin-left: 8px;
}
#product-single-main .product-main-info .product-summary h1 {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media only screen and (max-width: 991.98px) {
  #product-single-main .product-main-info .product-summary h1 {
    font-size: 20px;
  }
}
#product-single-main .product-main-info .product-summary h1 {
  flex-grow: 1;
  margin-bottom: 20px;
}
#product-single-main .product-main-info .product-summary .short-description {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 136%;
  letter-spacing: 0.01em;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary .short-description {
    font-size: 16px;
  }
}
#product-single-main .product-main-info .product-summary .short-description {
  margin-top: 20px;
  margin-bottom: 20px;
}
#product-single-main .product-main-info .product-summary .stock.out-of-stock {
  display: none;
}
#product-single-main .product-main-info .product-summary .size-finder-wrap {
  position: fixed !important;
  max-width: 100%;
  right: -100%;
  top: 0;
  width: 100%;
  max-width: 504px;
  overflow-y: auto;
  height: 100%;
  z-index: 99999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: left;
  background: #ffffff;
  padding: 32px;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary .size-finder-wrap {
    padding: 16px;
  }
}
#product-single-main .product-main-info .product-summary .size-finder-wrap.active {
  right: 0;
}
#product-single-main .product-main-info .product-summary .size-finder-wrap .sliding-content-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
#product-single-main .product-main-info .product-summary .size-finder-wrap .sliding-content-heading .sliding-content-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary .size-finder-wrap .sliding-content-heading .sliding-content-title {
    font-size: 16px;
  }
}
#product-single-main .product-main-info .product-summary .size-finder-wrap .sliding-content-heading .sliding-content-title {
  font-weight: 500;
  color: #101828;
}
#product-single-main .product-main-info .product-summary .size-finder-wrap .sliding-content-heading .sliding-content-title:after {
  content: "";
  display: flex;
  flex: 1;
  height: 1px;
  width: 100%;
  background: #BBBBBB;
  margin-left: 24px;
  margin-right: 8px;
}
#product-single-main .product-main-info .product-summary .size-finder-wrap .size-finder-heading {
  margin-bottom: 28px;
}
#product-single-main .product-main-info .product-summary .woocommerce-variation + .woocommerce-variation-add-to-cart {
  margin-top: 32px;
}
#product-single-main .product-main-info .product-summary .cwginstock-subscribe-form .custom-form {
  display: flex;
  gap: 8px;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary .cwginstock-subscribe-form .custom-form {
    flex-direction: column;
  }
}
#product-single-main .product-main-info .product-summary .cwginstock-subscribe-form .custom-form .input-wrap {
  flex-grow: 1;
}
#product-single-main .product-main-info .product-summary .cwginstock-subscribe-form .custom-form .button-wrap button[type=submit] {
  height: 46px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #product-single-main .product-main-info .product-summary .cwginstock-subscribe-form .custom-form .button-wrap button[type=submit] {
    padding: 0 8px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #product-single-main .product-main-info .product-summary .cwginstock-subscribe-form .custom-form .button-wrap button[type=submit]:after {
    display: none;
  }
}
#product-single-main .product-main-info .product-summary .variations_form .variations tbody {
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 991.98px) {
  #product-single-main .product-main-info .product-summary .variations_form .variations tbody {
    flex-direction: column;
  }
}
#product-single-main .product-main-info .product-summary .variations_form .variations tr {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#product-single-main .product-main-info .product-summary .variations_form .variations th {
  text-align: left;
}
#product-single-main .product-main-info .product-summary .variations_form .variations th + td {
  margin-top: 5px;
}
#product-single-main .product-main-info .product-summary .variations_form .variations th label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 136%;
  letter-spacing: 0.01em;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary .variations_form .variations th label {
    font-size: 16px;
  }
}
#product-single-main .product-main-info .product-summary .variations_form .variations .reset_variations {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 136%;
  letter-spacing: 0.01em;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .product-summary .variations_form .variations .reset_variations {
    font-size: 16px;
  }
}
#product-single-main .product-main-info .product-summary .variations_form .variations .reset_variations {
  color: #303030;
  text-decoration: underline;
  font-weight: 400;
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}
#product-single-main .product-main-info .product-summary .woocommerce-variation-price {
  display: none;
}
#product-single-main .product-main-info .add-to-fav {
  padding: 0;
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-left: auto;
}
#product-single-main .product-main-info .add-to-fav .tinv-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#product-single-main .product-main-info .add-to-fav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#product-single-main .product-main-info .add-to-fav a:before {
  transition: 0.25s ease-in-out;
}
#product-single-main .product-main-info .add-to-fav a:hover:before {
  content: "\e908";
}
#product-single-main .product-main-info .price-container {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media only screen and (max-width: 991.98px) {
  #product-single-main .product-main-info .price-container {
    font-size: 20px;
  }
}
#product-single-main .product-main-info .price-container {
  font-family: "Jost";
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 14px;
  gap: 8px;
}
#product-single-main .product-main-info .price-container .eur {
  color: #025788;
  font-size: 60%;
}
#product-single-main .product-main-info .price-container.onsale {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
}
#product-single-main .product-main-info .price-container del, #product-single-main .product-main-info .price-container .suffix {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .price-container del, #product-single-main .product-main-info .price-container .suffix {
    font-size: 16px;
  }
}
#product-single-main .product-main-info .price-container del, #product-single-main .product-main-info .price-container .suffix {
  font-weight: 400;
}
#product-single-main .product-main-info .price-container ins {
  text-decoration: none;
}
#product-single-main .product-main-info .price-container .suffix {
  margin-left: 5px;
}
#product-single-main .product-main-info .stock-status {
  margin-bottom: 24px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0.01em;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .stock-status {
    font-size: 14px;
  }
}
#product-single-main .product-main-info .stock-status {
  position: relative;
  padding-left: 11px;
}
#product-single-main .product-main-info .stock-status:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#product-single-main .product-main-info .stock-status.in-stock {
  color: #067647;
}
#product-single-main .product-main-info .stock-status.in-stock:before {
  background-color: #17B26A;
}
#product-single-main .product-main-info .stock-status.out-of-stock {
  color: #B42318;
}
#product-single-main .product-main-info .stock-status.out-of-stock:before {
  background-color: #F04438;
}
#product-single-main .product-main-info .cwgstock_output {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0.01em;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .cwgstock_output {
    font-size: 14px;
  }
}
#product-single-main .product-main-info .cwgstock_output .cwginstocksuccess {
  margin-top: 0.5em;
  color: #17B26A !important;
}
#product-single-main .product-main-info .cwgstock_output .cwginstockerror {
  margin-top: 0.5em;
  color: #F04438 !important;
}
#product-single-main .product-main-info .addcart-wrapper {
  display: flex;
  gap: 8px;
}
#product-single-main .product-main-info .addcart-wrapper .button--icon-after:after {
  content: "\e918";
}
#product-single-main .product-main-info .addcart-wrapper .qty-number {
  min-width: 104px;
}
#product-single-main .product-main-info .addcart-wrapper .qty-number .number {
  height: 100%;
}
#product-single-main .product-main-info .addcart-wrapper .qty-number .number input[type=text], #product-single-main .product-main-info .addcart-wrapper .qty-number .number input[type=number], #product-single-main .product-main-info .addcart-wrapper .qty-number .number span, #product-single-main .product-main-info .addcart-wrapper .qty-number .number .quantity {
  height: 100%;
}
#product-single-main .product-main-info .addcart-wrapper .qty-number .number input[type=text], #product-single-main .product-main-info .addcart-wrapper .qty-number .number input[type=number] {
  border-top: 0;
  border-bottom: 0;
}
#product-single-main .product-main-info .addcart-wrapper button[type=submit] {
  flex-grow: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #product-single-main .product-main-info .addcart-wrapper button[type=submit] {
    padding: 0 8px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .addcart-wrapper button[type=submit] {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 370px) {
  #product-single-main .product-main-info .addcart-wrapper button[type=submit] {
    font-size: 14px;
  }
}
@media only screen and (min-width: 240px) and (max-width: xxs-down) {
  #product-single-main .product-main-info .addcart-wrapper button[type=submit] {
    font-size: 14px;
  }
}
@media only screen and (max-width: 370px) {
  #product-single-main .product-main-info .addcart-wrapper button[type=submit]:after {
    display: none;
  }
}
@media only screen and (min-width: 240px) and (max-width: xxs-down) {
  #product-single-main .product-main-info .addcart-wrapper button[type=submit]:after {
    display: none;
  }
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #111111;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a {
    font-size: 12px;
  }
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 24px;
  background: #e3869c;
  gap: 8px;
  height: 58px;
  border: 1px solid #e3869c;
  transition: 0.25s ease-in-out;
}
@media only screen and (min-width: 1200px) and (max-width: 1550px) {
  #product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a {
    padding: 0 14px;
  }
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:hover {
  background: #025788;
  border-color: #025788;
  color: #ffffff;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:focus {
  color: #ffffff;
  background: #025788;
  border-color: #025788;
  box-shadow: 0px 0px 0px 1px #025788;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a {
  /*&:disabled {
      background: $white;
      color: $text-disabled;
      cursor: not-allowed;
      pointer-events: none;
  }*/
  color: #111111;
  background: #ffffff;
  border: 1px solid #111111;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:hover {
  background: #025788;
  border-color: #025788;
  color: #ffffff;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:focus {
  color: #ffffff;
  background: #025788;
  border-color: #025788;
  box-shadow: 0px 0px 0px 1px #025788;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:disabled {
  /*background: $white;
  color: $text-brand-disabled;
  border-color: $text-brand-disabled;
  cursor: not-allowed;
  pointer-events: none;*/
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a {
  padding: 0;
  margin: 0;
  width: 58px;
  position: relative;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:before {
  font-size: 24px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.25s ease-in-out;
}
#product-single-main .product-main-info .addcart-wrapper .tinvwl-after-add-to-cart a:hover:before {
  content: "\e908";
}
#product-single-main .product-main-info .share {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(17, 17, 17, 0.1);
}
#product-single-main .product-main-info .share .icons {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
#product-single-main .product-main-info .share .icons li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6D6D6D;
  font-size: 18px;
}
#product-single-main .product-main-info .share .icons li .icon:hover {
  color: #303030;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs,
  #product-single-main .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel {
    display: none;
  }
}
#product-single-main .wc-tabs-section .woocommerce-tabs ul {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #BFBFBF;
  margin-bottom: 60px;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .wc-tabs-section .woocommerce-tabs ul {
    display: flex;
  }
}
#product-single-main .wc-tabs-section .woocommerce-tabs ul li a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .wc-tabs-section .woocommerce-tabs ul li a {
    font-size: 16px;
  }
}
#product-single-main .wc-tabs-section .woocommerce-tabs ul li a {
  color: #111111;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}
#product-single-main .wc-tabs-section .woocommerce-tabs ul li a.active, #product-single-main .wc-tabs-section .woocommerce-tabs ul li a:hover {
  color: #025788;
  border-color: #025788;
}
#product-single-main .wc-tabs-section .woocommerce-tabs ul li.active a {
  color: #025788;
  border-color: #025788;
}
#product-single-main .wc-tabs-section .woocommerce-tabs .tab-placeholder {
  position: relative;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  #product-single-main .wc-tabs-section .woocommerce-tabs .tab-placeholder {
    font-size: 16px;
  }
}
#product-single-main .wc-tabs-section .woocommerce-tabs .tab-placeholder {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0px 24px;
  height: 36px;
  background: #ffffff;
  background: #000;
  color: #FAFAFA;
}
@media only screen and (min-width: 992px) {
  #product-single-main .wc-tabs-section .woocommerce-tabs .tab-placeholder {
    display: none;
  }
}
@media only screen and (max-width: 991.98px) {
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown {
    position: relative;
    padding: 0px;
    cursor: pointer;
    outline: none;
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    right: 24px;
    color: #ffffff;
    font-size: 16px;
    font-family: "icomoon";
    content: "\e903";
    transition: 0.25s ease-in-out;
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown .dropd {
    /* Size & position */
    position: absolute;
    top: calc(100% + 4px);
    left: 0px;
    right: 0px;
    padding: 0px;
    z-index: 100;
    overflow: scroll;
    height: auto;
    /* Styles */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 8px;
    border-bottom: 1px solid #ffffff;
    background: #ffffff;
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown .dropd li a {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9C9C9C;
    padding: 16px 10px 16px 10px;
    display: inline-flex;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid #ffffff;
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown .dropd li a:hover, #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown .dropd li a.active {
    color: #303030;
    background-color: #FAFAFA;
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown .dropd li.is-active a {
    color: #303030;
    background-color: #FAFAFA;
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown.active:after {
    transform: translateY(-50%) rotate(180deg);
  }
  #product-single-main .wc-tabs-section .woocommerce-tabs .wrapper-dropdown.active .dropd {
    opacity: 1;
    pointer-events: auto;
  }
}
#product-single-main .wc-tabs-section .woocommerce-Tabs-panel h2 {
  display: none;
}

.product-features {
  /*padding-top: 75px;
  padding-bottom: 75px;*/
}
@media only screen and (max-width: 767.98px) {
  .product-features {
    padding-top: 64px;
  }
}
.product-features .product-features-content {
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.product-features .product-features-content .item {
  text-align: center;
}
.product-features .product-features-content .item .features-icon + .features-text {
  margin-top: 20px;
}
.product-features .product-features-content .item h3 {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #303030;
}
.product-features .product-features-content .item p {
  margin-top: 8px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #303030;
}

/*# sourceMappingURL=shop-single.css.map */
