@import '../theme/vars';

.featured-categories {
    .category-box {
        position: relative;
        overflow: hidden;
        &:after {
            @include after-cnt;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26));
        }
        .category-image {
            @include animate-fade;
            display: block;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 3/2;
        }
        .categories-btn {
            @include centre(x);
            bottom: 34px;
            z-index: 1;
            width: max-content;
        }
        &:hover {
            .category-image {
                @include animate-scale;
            }
            .categories-btn {
                background-color: $brand;
                color: $white;
            }
        }
    }
    &-slider {
        overflow: unset;
    }
    
}