@import '../theme/vars';

#brands-page {
    padding-top: 32px!important;
    @include bp(sm-down) {
        padding-top: 0!important;
    }
    .brands-list {
        .row {
            row-gap: 24px;
            justify-content: center;
            margin-right: -12px;
            margin-left: -12px;
            @include bp(sm-down) {
                margin-left: -5px;
                margin-right: -5px;
                justify-content: flex-start;
                row-gap: 10px;
            }
            .col {
                flex-grow: 0;
                min-width: 33.333333%;
                padding-left: 12px;
                padding-right: 12px;
                @include bp(sm-down) {
                    flex-basis: 50%;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        .brand-item {
            a {
                .brand-image {
                    height: 282px;
                    @include bp(sm-down) {
                        height: auto;
                    }
                }

            }

        }
    }
}

#brand-single {
    padding-top: 24px;
    .brand-hero {
        .brand-hero-slider {
            @include bp(sm-up) {
                padding-left: 208px;
            }
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 900 / 612;
                @include bp(sm-down) {
                    height: 300px;
                }
            }
        }
        .nav-btns {
            display: flex;
            gap: 24px;
            justify-content: flex-end;
            margin-right: 22px;
            position: relative;
            z-index: 1;
            top: -72px;
            .slick-prev, .slick-next {
                position: relative;
                transform: none;
                left: inherit;
                right: inherit;
                top: 0;
                &:hover {
                    &:before {
                        color: $text-tertiary;
                    }
                }
            }
           
        }
        .container {
            position: relative;
            
        }
        .slide-content {
            
            @include bp(sm-up) {
                max-width: 497px;
                width: 100%;
                height: auto;
                clip-path: polygon(100% 0, 96% 50%, 100% 100%, 0 100%, 0 0);
                @include centre(y);
            }
            @include bp(sm-down) {
                position: relative;
            }
            .slide-content-in {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;
                height: 100%;
                z-index: 1;
                position: relative;
                @include bp(sm-up) {
                    padding: 70px 64px 70px 46px;
                }
            }
            @include bp(md) {
                max-width: 520px;
            }
            @include bp(sm-down) {
                padding: 16px;
            }
            &:before {
                bottom: 0;
                left: -47px;
                content: '';
                display: block;
                position: absolute;
                width: 432px;
                height: 628px;
                clip-path: polygon(100% 0, 96% 50%, 100% 100%, 0 100%, 0 0);
                @include bp(sm-down) {
                    display: none;
                }
            }
            h1 {
                display: none;
            }
            .brand-logo-wrapper {
                max-width: 200px;
            }
            p {
                @include paragraph-large;
                font-weight: 400;
                color: $text-primary;
            }
            .button {
                align-self: start;
            }
        }
    }
}